h2 {
    text-align: center;
    color: black;

}

.contanier{
    text-align: center;
    padding: 20px;
    margin: 150px;
    text-align: center;
    width: 900px;
}
img{
    border-radius: 10px;
}

